<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MBlog.Core.Properties.Settings.MBlogConnectionString"
            connectionString="Data Source=CV-003\SQLEXPRESS;Initial Catalog=MBlog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>